*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width: 97vw;
    height: 97vh;
    margin: auto;
}

.wrapper.show .container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 100;
}

.wrapper.show .noteLists {
    opacity: 0;
    display: none;
}

.wrapper .noteLists {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), z-index 200ms linear;

}

.container {
    transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), z-index 200ms linear;
    opacity: 0;
    z-index: -1;
    background: #f1f3f4;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0rem 2rem;
    padding-bottom: 1rem;
    position: relative;
}

.back {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.title input {
    width: 100%;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 28px;
    padding: 0.3em;
    color: gray;
    background: #f1f3f4;
}

.date p {
    margin: 0;
    padding: 0.3em;
    font-size: 18px;
}

.note {
    height: 100%;
}

.note textarea {
    background: #f1f3f4;
    padding-top: 5px;
    height: 90%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    text-indent: 0.3em;
    z-index: 1;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 120px));
    grid-template-rows: 100px;
    margin-top: 1rem;
    padding: 0.7rem 0;
}

.option {
    width: 100%;
    height: 100%;
}

.color,
.background,
.fontSize,
.image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-right: 1px solid gray;
}

.color {
    background-image: url(./images/color.png);
}

.background {
    background-image: url(./images/background.png);
}

.image {
    background-image: url(./images/image.png);
}

.fontSize {
    background-image: url(./images/text.png);
}

.items {
    width: 90vw;
    max-width: 90vw;
    min-width: 300px;
    overflow: scroll;
    display: flex;
    gap: 1rem;
    max-height: 0;
    position: absolute;
    left: 3rem;
    transition: max-height 300ms linear, transform 300ms linear;
    margin-right: 10px;
}

.cross {
    display: none;
    position: absolute;
    top: 63%;
    right: 6.5%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: gray;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;

}

.cross.show {
    display: inline-block;
}

.items input {
    display: inline-block;
    flex-shrink: 0;
    width: 100px;
    height: 80px;
    border: none;
    outline: none;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

.items input.active {
    border: 3px solid black;
}

.option.show .items {
    max-height: 300px;
    transform: translateY(-250px);
}

.purple {
    background: #890189;
}

.white {
    background: #dcdcdc;
}

.pink {
    background: #ff1493;
}

.blue {
    background: #0470dd;
}

.black {
    background: #2d2b55;
}

.lime {
    background: #3a913a;
}

.orange {
    background: #c14112;
}

.yellow {
    background: #b8b327;
}

.noteLists {
    transition: position 200ms linear;
    display: grid;
    grid-auto-rows: 170px;
    grid-gap: 1rem;
    padding: 1rem 2rem;
    position: relative;
}

.plus {
    position: fixed;
    right: 40px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    background: gray;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    font-size: 2.8rem;
    font-weight: bold;
    z-index: 10;
}

.list {
    border-radius: 10px;
    padding: 0.5em 1em;
    transition: box-shadow 200ms cubic-bezier(0.075, 0.82, 0.165, 1), transform 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.list:hover {
    box-shadow: 3px 3px 5px #c6c6c6;
    transform: translateY(-3px);
}

.noteTitle {
    margin: 0;
    padding: 0;
    padding: 5px;
    font-size: 1.5rem;
}

.noteText {
    height: 3em;
    margin: 0;
    padding: 0;
    line-height: 1.1em;
    margin-top: 8px;
    padding: 5px;
    font-size: 1.2rem;
}

.noteFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-top: 5px;
}

.trash {
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
    margin: 0 50px;
    cursor: pointer;
}

.noteDate {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}