*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.wrapper.show .container {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 100;
}

.wrapper.show .noteLists {
    opacity: 0;
}

.wrapper .noteLists {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 1;
    transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), z-index 200ms linear;

}

.container {
    transition: opacity 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275), z-index 200ms linear;
    opacity: 0;
    z-index: -1;
    background: #f1f3f4;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: 0rem 2rem;
    padding-bottom: 1rem;
}

.back {
    font-size: 2.3rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.title input {
    width: 100%;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    font-size: 28px;
    padding: 0.3em;
    color: gray;
    background: #f1f3f4;
}

.date p {
    margin: 0;
    padding: 0.3em;
    font-size: 18px;
}

.note {
    height: 100%;
}

.note textarea {
    background: #f1f3f4;
    padding-top: 5px;
    height: 90%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    text-indent: 0.3em;
}

.options {
    display: grid;
    grid-template-columns: repeat(4, minmax(80px, 120px));
    grid-template-rows: 100px;
    margin-top: 1rem;
    padding: 0.7rem 0;
}

.option {
    width: 100%;
    height: 100%;
}

.color,
.background,
.fontSize,
.image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
    border-right: 1px solid gray;
}

.color {
    background-image: url(./images/color.png);
}

.background {
    background-image: url(./images/background.png);
}

.image {
    background-image: url(./images/image.png);
}

.fontSize {
    background-image: url(./images/text.png);
}

.items {
    width: 90vw;
    max-width: 90vwx;
    min-width: 300px;
    overflow: scroll;
    display: flex;
    gap: 1rem;
    max-height: 0;
    position: absolute;
    left: 3rem;
    transition: max-height 300ms linear, transform 300ms linear;
}

.cross {
    position: absolute;
    right: 5px;
    top: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: gray;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.items p {
    flex-shrink: 0;
    width: 100px;
    height: 80px;
}

.option.show .items {
    max-height: 300px;
    transform: translateY(-250px);
}

.black {
    background: #1a1a1a;
}

.white {
    background: #e3e3e3;
}

.violet {
    background: #9400d3;
}

.pink {
    background: #f80d8b;
}

.noteLists {
    transition: position 200ms linear;
    display: grid;
    grid-auto-rows: 170px;
    grid-gap: 1rem;
    padding: 1rem 2rem;
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #c7c8c9;
}

.plus {
    position: absolute;
    right: 40px;
    bottom: 50px;
    width: 60px;
    height: 60px;
    background: gray;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    cursor: pointer;
    font-size: 2.8rem;
    font-weight: bold;
}

.list {
    background: snow;
    border-radius: 10px;
    padding: 0.5em 1em;

}

.noteTitle {
    margin: 0;
    padding: 0;
    padding: 5px;
    font-size: 1.5rem;
}

.noteText {
    height: 3em;
    margin: 0;
    padding: 0;
    margin-top: 8px;
    padding: 5px;
    font-size: 1.2rem;
}

.noteFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin: 0;
    padding: 0;
}

.trash {
    font-size: 2.3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.noteDate {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}